**/*.zip
**/votes_*.csv
**/Manifest.ipynb
**/zooniverse_exports
**/.ipynb_checkpoints
/analysis/image/thumbnails
/sources/*.pdf

/analysis/classify workflow/*.csv
/analysis/stack workflows/*.json

**/__pycache__
**/*.pyc
**/**/__pycache__
**/*.pyc

**/image/des/

/thesis

/analysis/stack workflows/plots/**/*.png
/analysis/stack workflows/plots_final/**/*.png
/analysis/stack workflows/*.png

/catalogue/**/*.png